body {
    font-family: Arial, sans-serif;
  }
  

.sidebar {

    
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 15%;
    height: 100vh;
    padding: 60px 0 0;
    padding-left: 0;
    font-weight: bold;

    &.closed {
        width: 5%; /* Kleinere Breite, wenn die Sidebar geschlossen ist */
    }

    
    
        
    

    @media (max-width: 1427px) {
        padding-left: 0;
        text-align: center;

        #title {
            display: none;
        }

        .user-photo {
            cursor: pointer;
            width: 30px;
            height: 30px;
            padding-left: 20%;
        }

        .user-name {
            display: none;
            margin-bottom: 50px;
        }

        .row #icon {
            padding: none;
        }

        .icon-container {
            margin-right: 0;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* justify-content: center; <-- Entferne diese Zeile */
            align-items: center; /* Hier vertikal zentrieren */
        }

        .row {
            font-size: 0;
        }
    }

    

    @media (min-width: 1428px) {
    .user-photo {
        cursor: pointer;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-left: 35%;
        padding-right: 35%;
    }
}

    .SideBarList {
        height: auto;
        width: 100%;
    }
    
    .SideBarList .row{
        width: 100%;
        height: 60px;
        align-items: center;
        padding: 10px 0;
        display: flex;
    }

    .user-name {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 60px;
        text-align: center;
    }

    .nav {
        margin-top: 70px;

        img {
            width: 36px;
            height: 36px;
            margin-right: 15px;
        }

        .sidebar-link {
            display: flex;
            align-items: center;

            &:not(first-child) {
                margin-top: 20px;
            }
        }
    }

    .btn-red {
        position: fixed;
        bottom: 30px;
        z-index: 5;
        left: 50px;
        background-color: rgb(206, 206, 206);
        width: 200px;
        height: 50px;
        border-radius: 15px;
        color: #000000;
        font-size: 18px;
        cursor: pointer;
    }

    .row #icon {
        flex: 10%;
        padding-left: 23%;
    }

    .row #title {
        flex: 55%;
        color: black;
    }

    .SideBarList .active {
        background-color: #ff8800;
        
    }

    .SideBarList .row:hover {
        cursor: pointer;
        background-color: #ff880051;
    }

    .toggle-button {
        position: fixed;
        left: 0;
        bottom: 0;

    }
}
