.edit-marker{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; 
    padding: 20px;
    z-index: 20;
}

.btn-view, .btn-edit, .btn-delete {
    background-color: rgb(255, 176, 30); 
    color: white; 
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 50px;
}

.btn-view:hover, .btn-edit:hover, .btn-delete:hover {
    background-color: rgb(217, 143, 5); 
}

.btn-edit, .btn-delete{
    margin-top: 10px;
}

.btn__edit-close {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}