.map-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-form input,
.map-form textarea {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

.addTrainingBtn {
    display: block;
    width: 86%;
    padding: 10px;
    background-color: #f3ae2d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.addTrainingBtn:hover {
    background-color: #da8910;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    cursor: pointer;
}

.close-button:hover {
    color: #999;
}